@font-face {
    font-family: 'Computer Modern';
    src: url('/fonts/cmunrm.ttf');
}

body {
    background-color: #d6e2e5;
}

* {
    padding: 0;
    margin: 0;
}

.title {
    color: #0e1428;
    text-align: center;
    padding: 2em;
    font-family: 'Google Sans', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.content p {
    font-family: 'Google Sans', sans-serif;
    font-size: 15pt;
    width: 50vw;
    text-align: left;
    color: #0e1428;
}

.footer {
    padding: 10em;
}

a:hover {
    font-weight: bold;
}

img {
    border: 2px solid rgb(47, 32, 17);
}

ol {
    font-family: 'Google Sans', sans-serif;
    width: 45vw;
    font-size: 15pt;
}

code {
    font-family: 'Google Sans Code', 'Consolas', monospace;
    background-color: rgba(0, 0, 0, 0.1);
}

blockquote {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    width: 50vw;
    font-family: 'Google Sans Code', 'Consolas', monospace;
    font-size: 10pt;
    padding: 1em;
    box-sizing: border-box;
    white-space: pre;
    overflow-x: auto;
}

#loading {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: green;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    font-family: 'Google Sans', sans-serif;
    padding: 1em;
    transition: 0.8s all;
}

.sim-wrapper {
    position: relative;
}

.sim-wrapper .sim-time {
    font-family: 'Google Sans Code', monospace;
    position: absolute;
    color: white;
    top: 8px; left: 8px;
}

.graph {
    border: 1px solid #777;
    background-color: rgb(255, 253, 242);
}

.graph-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.plotted-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.load {
    text-transform: uppercase;
    font-family: 'Google Sans', sans-serif;
    color: white;
    background-color: black;
    user-select: none;
    padding: 1em;
    border: none;
    font-weight: bold;
}

.load:hover {
    cursor: pointer;
    background-color: #333;
}

.hplots {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
